<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/sidebar-01images/logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">

            <li>
                <a href="#">Hakkımda</a>
            </li>

            <li>
                <a href="#">Kategoriler</a>
            </li>
            <li>
                <a href="#">İletişim</a>
            </li>
            <li>
                <a href="#">Eğitim</a>
            </li>
            <li>
                <a href="#">Deneyim</a>
            </li>
            <li>
                <a href="#">Tanıtım</a>
            </li>
            <li>
                <a href="#">proje</a>
            </li>
            <li>
                <a href="#">Yorumlar</a>
            </li>
        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                telif hakkı &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır.
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>
